{% extends "base.html" %}
{% block title %}URL Analytics{% endblock %}
{% block content %}
    <h1>URL Analytics</h1>
    <div>
        <img src="{{url_for('generate_qr_code_url', short_url=link.short_url)}}"  alt="QR Code">
    </div>
    {%if link %}
    <p>Original URL: {{ link.long_url }}</p>
    <p>Shortened URL: <a href="{{ link.short_url }}" target="_blank">{{link.short_url }}</a></p>
    <p>Number of clicks: {{ link.clicks }}</p>
    <small>Created: {{ link.created_at }}</small>
    <p>Link history:</p>
    <a href="{{url_for('generate_qr_code_url', short_url=link.short_url)}}"  alt="QR Code image">
        <button>Download QR Code</button>
    </a>
    {% else %}
    <small>
        This link does not exist at the moment. <a href="{{url_for('home')}}">get started by creating one</a>
    </small>
    {% endif %}
{% endblock %}