{% extends 'base.html' %}
{% block title %}URL History{% endblock %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="table-container">
  <table>
	<thead>
		<tr>
		  <th>Short URL</th>
		  <th>Long URL</th>
		  <th>Analytics</th>
		  <th>Date Created</th>
		  <th>Edit</th>
		  <th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for link in links %}
		<tr>
		<td><a href="{{ url_for('redirect_url', short_url=link.short_url) }}" target="_blank" style="color:rgb(133, 79, 183)">{{host}}{{link.short_url}}</a></td>
		<td>{{ link.long_url }}</td>
		<td ><a href="{{ url_for('url_analytics', short_url=link.short_url) }}" style="color:rgb(133, 79, 183)">Analytics</a></td>
		<td>{{ link.created_at }}</td>
		<td ><a href="{{ url_for('edit_url', short_url=link.short_url) }}" style="color:rgb(133, 79, 183)">Edit</a></td>
		<td><a href="{{ url_for('delete', short_url=link.short_url) }}" style="color:rgb(133, 79, 183)">Delete</a></td>
		</tr>
		{% endfor%}
	</tbody>
  </table>
</div>
{% else %}
  <h1 style="text-align: center; margin-top: 100px;">You do not have any urls yet. <a href="{{url_for('home')}}">Click to Create</a> </h1>
{% endif %}

{% endblock %}